<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>
	<h1>title</h1><%= post.title %><br>
	<h1>body</h1><%= post.body %><br>
	<%= link_to "show", post_path(post) %><br>
	<%= link_to "edit", edit_post_path(post) %><br>
<% end %>